.bidCard {
  width: 300px;
}

.submitButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.allBidCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
