

.Student-whole {
  background-color:#58A7EC; 
  min-height: 100vh;
  }
  

  .Student-Profile {
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 40%;
  }

  .Student-ContractBids {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
  }
 
  .Student-contractholder {
    background-color: #282c34;
    min-height: 70vh;
    font-size: calc(5px + 2vmin);
    padding-left: 5px;
  }

  .Student-bidholder {
    background-color: #282c34;
    min-height: 70vh;
    font-size: calc(5px + 2vmin);
    padding-left: 5px;
  }
  

  .Student-Searchbarholder
  {
    font-size: calc(5px + 2vmin);
    padding-left: 20px;
  }
  
 
  
  .Student-Card-Holder{
    background-color:#58A7EC;
    display: flex;
  }
  
  .Student-Padding{
    padding-bottom: 0;
  }
  
  .Student-link {
    color: #61dafb;
  }
  
  
  
  