

.Student-whole { 
  min-height: 100vh;
  background-color:rgb(255, 255, 255); 
  }
  

  .Student-Profile {
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 40%;
  }

  .Student-ContractBids {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
  }
 
  .Student-contractholder {
    background-color: #282c34;
    min-height: 70vh;
    font-size: calc(5px + 2vmin);
    padding-left: 5px;
    min-width: 50vh; 
  }

  .Student-bidholder {
    background-color: #282c34;
    min-height: 70vh;
    font-size: calc(5px + 2vmin);
    padding-left: 5px;
    min-width: 50vh; 
  }
  

  .Student-Searchbarholder
  {
    font-size: calc(5px + 2vmin);
    padding-left: 20px;
  }
  
 
  
  .Student-Card-Holder{
    background-color:rgb(255, 255, 255);
    display: flex;
  }
  
  .Student-Padding{
    padding-bottom: 0;
  }
  
  .Student-link {
    color: #61dafb;
  }
  
  
  .contract{
    color: #4527a0;
    font-size: calc(8px + 2vmin);
  }
.contractInfo{
  font-size: calc(2px + 2vmin);
}

.name{
  font-size: calc(10px + 2vmin);
}