div[type="dashinfo"]{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
}

.individual{
    display: flex;
    min-height: 70vh;
    width: 500px;
    font-size: calc(5px + 2vmin);

}

.bidCard {
    width: 300px;
}

.allBidCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.assignedTo{
    color: #4527a0;
    font-size: calc(2px + 2vmin);

}

