.Landing-Body {
  background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=astro-astronomy-background-956999.jpg&fm=jpg);
  background-size: cover;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lockIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Landing-Card {
  background-color: white;
  /* min-height: 50vh; */
  min-width: 65vh;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.SignUp-Card {
  background-color: white;
  min-height: 40vh;
  min-width: 50vh;
  font-size: calc(5px + 2vmin);
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 40px;
  padding-top: 40px;
}
