.RevTekHome-Entire {
  background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=astro-astronomy-background-956999.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.RevTekHome-Header {
  min-height: 12vh;
  max-height: 15vh;
  min-width: 55vh;
  font-size: calc(40px + 2vmin);
  color: white;
  direction: flex;
  padding-top: 10px;
}

.RevTekHome-Body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RevTekHome-Image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RevTekHome-Button {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
}

.RevTekHome-ImageContainer {
  padding-right: 50px;
  padding-left: 150px;
}

.RevTekHome-TextHeader {
  align-items: flex-start;
  font-size: calc(6px + 2vmin);
  padding-bottom: -10px;
}

.RevTekHome-Title {
  font-size: calc(10px + 2vmin);
  padding-top: 10px;
  padding-bottom: 10px;
}

.RevTekHome-Info {
  min-height: 15vh;
  font-size: calc(1px + 2vmin);
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.RevTekHome-CardText {
  padding-bottom: 10px;
}

.RevTekHome-ServiceCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navBarLogo {
  max-height: 8vh;
}